{% extends "base.html" %}

{% block title %}
	Completion
{% endblock %}


{% block content %}
	<div>
		<h1>Voila your file has been uploaded</h1>
		
		<h2>test = {{test}}</h2>

		<h3>Image Width {{width}} and Height {{height}}</h3>
		<img src= "{{url_for('static', filename = image_name)}}" id=img1id>
		
	</div>

	<div>
		<form id = "edit-image" method = 'POST'>
			<label for="zoomsldr" id="zoomlabelid">Zoom Feature</label>
			<input type='range' id='zoomsldr' name='zoomsldr' onchange="myZoom()" min="1" max = "100">
		</form>
	</div>
	
	<script>
		function myZoom(){
			var z = document.getElementById("zoomsldr").value;
			document.getElementById("img1id").width = z *20
			document.getElementById("img1id").height = z *20
		}
	</script>
{% endblock %}